@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Base class for common cell styles */
.table-cell {
  @apply text-xs border border-black;
  padding: 3px; /*Adjust padding to control cell size
  /* min-width: 100px; Adjust minimum width as needed */
  width: auto; /* Adjust width as needed, could be a specific value or percentage */
}

.weekLegendOff {
  @apply table-cell bg-transparent ;
}

.weekLegendClass {
  @apply table-cell bg-blue-900 text-white;
}

.weekLegendOther {
  @apply table-cell bg-pink-400;
}